<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Qubitro GPS Live Tracking</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
    <center>
        <h1 id="title">Qubitro GPS Live Tracking</h1>
        <p>Latitude = <%=data.lat%> | Longitude = <%=data.lng%> | Time = <%=new Date(data.time)%></p>
        <iframe 
            width="1000" height="500"
            src="http://maps.google.com/maps?q=<%=data.lat%>,<%=data.lng%>&z=15&output=embed">
        </iframe>
    </center>
</body>
</html>